<!DOCTYPE html>
<html>
<head>
  <title>GoogleMerchant</title>
  <%= stylesheet_link_tag    "google_merchant/application", media: "all" %>
  <%= javascript_include_tag "google_merchant/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
